<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body style="background: linear-gradient(45deg, lightgreen, lightblue); background-attachment: fixed;">
<br>
<div style="border: 2px black solid; border-radius: 2em; background-color: lightblue; width: 50%; margin: 3em auto;">
<h1 align="center">Welcome {{name}} !!!!</h1>
<h1 align="center">Your email-id is {{mail}}</h1>
<h1 align="center">Your phone number is +91-{{num1}}</h1>
</div>
</body>
</html>